Build started...
Build succeeded.
CREATE TABLE [Users] (
    [Id] int NOT NULL IDENTITY,
    [Username] nvarchar(max) NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    [PasswordHash] nvarchar(max) NOT NULL,
    [Role] nvarchar(max) NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
);
GO


CREATE TABLE [Devices] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [Type] nvarchar(max) NOT NULL,
    [UserId] int NOT NULL,
    [Status] bit NOT NULL,
    CONSTRAINT [PK_Devices] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Devices_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [Alerts] (
    [Id] int NOT NULL IDENTITY,
    [DeviceId] int NOT NULL,
    [Type] nvarchar(max) NOT NULL,
    [Message] nvarchar(max) NOT NULL,
    [Timestamp] datetime2 NOT NULL,
    [IsAcknowledged] bit NOT NULL,
    CONSTRAINT [PK_Alerts] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Alerts_Devices_DeviceId] FOREIGN KEY ([DeviceId]) REFERENCES [Devices] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [SensorReadings] (
    [Id] int NOT NULL IDENTITY,
    [DeviceId] int NOT NULL,
    [Type] nvarchar(max) NOT NULL,
    [Value] nvarchar(max) NOT NULL,
    [Timestamp] datetime2 NOT NULL,
    CONSTRAINT [PK_SensorReadings] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_SensorReadings_Devices_DeviceId] FOREIGN KEY ([DeviceId]) REFERENCES [Devices] ([Id]) ON DELETE CASCADE
);
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Email', N'PasswordHash', N'Role', N'Username') AND [object_id] = OBJECT_ID(N'[Users]'))
    SET IDENTITY_INSERT [Users] ON;
INSERT INTO [Users] ([Id], [Email], [PasswordHash], [Role], [Username])
VALUES (1, N'test@example.com', N'hashedpassword', NULL, N'testuser');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Email', N'PasswordHash', N'Role', N'Username') AND [object_id] = OBJECT_ID(N'[Users]'))
    SET IDENTITY_INSERT [Users] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Name', N'Status', N'Type', N'UserId') AND [object_id] = OBJECT_ID(N'[Devices]'))
    SET IDENTITY_INSERT [Devices] ON;
INSERT INTO [Devices] ([Id], [Name], [Status], [Type], [UserId])
VALUES (1, N'Living Room Thermostat', CAST(1 AS bit), N'thermostat', 1);
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Name', N'Status', N'Type', N'UserId') AND [object_id] = OBJECT_ID(N'[Devices]'))
    SET IDENTITY_INSERT [Devices] OFF;
GO


CREATE INDEX [IX_Alerts_DeviceId] ON [Alerts] ([DeviceId]);
GO


CREATE INDEX [IX_Devices_UserId] ON [Devices] ([UserId]);
GO


CREATE INDEX [IX_SensorReadings_DeviceId] ON [SensorReadings] ([DeviceId]);
GO



